* {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-color {
  background-color: #40514e;
}

.jumbotron {
  background-color: #11999e !important;
  color: #e4f9f5;
}

.title-section {
  color: #e4f9f5;
}
